:root {
  --color-dark: black;
  --color-white: white;
  --color-light: rgb(246, 223, 181);
  --color-blue: rgb(3, 3, 77);
}

* {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: end;
}

#tema {
  padding: 8px;
  width: 80px;
  height: auto;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

#tema img {
  width: 100%;
  height: 100%;
}

#tema:hover {
  scale: 1.1;
  transition: all 0.3s ease;
}

#tema.light {
  width: 50px;
  height: auto;
}

body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--color-dark);
  color: var(--color-white);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transition: 0.5s;
}

body.light {
  background-color: var(--color-white);
  color: var(--color-dark);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.9);
}

.opcoes {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-auto-rows: 50px;
  gap: 20px;
  align-self: center;
  background-color: var(--color-light);
  padding: 20px;
  border-radius: 10%;
}

.opcoes.light {
  background-color: var(--color-blue);
}

.opcoes button {
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;

  background-color: var(--color-light);
  color: var(--color-blue);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

  border-radius: 50%;
}

.opcoes button.light {
  background-color: var(--color-blue);
  color: var(--color-light);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.igual {
  grid-column: span 2;
  border-radius: 8px 20px;
}

.opcoes button:hover {
  color: var(--color-light);
  background-color: var(--color-blue);
  scale: 1.05;
  font-weight: bold;
  transition: all 0.3s ease;
}

.opcoes button:hover.light {
  color: var(--color-blue);
  background-color: var(--color-light);
}

.calculadora {
  width: 300px;
  background-color: var(--color-light);
  padding: 15px;
  border-radius: 12px;
  align-self: center;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
}

.calculadora.light {
  background-color: var(--color-blue);
}

.display {
  width: 100%;
  height: 100px;
  padding: 30px;
  background-color: var(--color-light);
  color: var(--color-blue);
  text-align: end;
  border: none;
  border-radius: 10%;
  box-sizing: border-box;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3);
  font-size: 3rem;
}

.display.light {
  background-color: var(--color-blue);
  color: var(--color-light);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2 {
  margin-top: 20px;
  font-size: 10px;
  opacity: 0.7;
}
h2 strong {
  color: var(--color-light);
  font-weight: 600;
}

h2 strong.light {
  color: var(--color-blue);
}
