:root {
  --color-dark: black;
  --color-white: white;
  --color-light: rgb(246, 223, 181);
  --color-blue: rgb(3, 3, 77);
}

* {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: end;
}

#tema {
  padding: 8px;
  width: 80px;
  height: auto;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

#tema img {
  width: 30px;
  height: auto;
}

#tema img:hover {
  transition: all 0.3s ease;
  transform: scale(1.1);
}

body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--color-light);
  color: var(--color-dark);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transition: 0.5s;
}

body.dark {
  background-color: var(--color-blue);
  color: var(--color-white);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.9);
}

.opcoes {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-auto-rows: 50px;
  gap: 20px;
  align-self: center;
  background-color: var(--color-light);
  padding: 20px;
  border-radius: 10%;
}

.opcoes.dark {
  background-color: var(--color-blue);
}

.opcoes button {
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;

  background-color: var(--color-light);
  color: var(--color-blue);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

  border-radius: 50%;
}

.opcoes button:active {
  transform: scale(0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.opcoes button.dark {
  background-color: var(--color-blue);
  color: var(--color-light);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.igual {
  grid-column: span 2;
  border-radius: 8px 20px;
}

.opcoes button:hover {
  color: var(--color-light);
  background-color: var(--color-blue);
  scale: 1.05;
  font-weight: bold;
  transition: all 0.3s ease;
}

.opcoes button:hover.dark {
  color: var(--color-blue);
  background-color: var(--color-light);
}

.calculadora {
  width: 300px;
  background-color: var(--color-light);
  padding: 15px;
  border-radius: 12px;
  align-self: center;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
}

.calculadora.dark {
  background-color: var(--color-blue);
}

.display {
  width: 100%;
  background-color: var(--color-light);
  color: var(--color-blue);
  text-align: end;
  border: none;
  border-radius: 10%;
  box-sizing: border-box;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3);
  height: 60px;
  padding: 10px 15px;
  font-size: 2.5rem;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: thin;
}

.display.dark {
  background-color: var(--color-blue);
  color: var(--color-light);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2 {
  margin-top: 20px;
  font-size: 10px;
  opacity: 0.7;
}
h2 strong {
  color: var(--color-blue);
  font-weight: 600;
}

h2 strong.dark {
  color: var(--color-light);
}
