:root {
  --color-dark: black;
  --color-white: white;
  --color-light: rgb(246, 223, 181);
  --color-blue: rgb(3, 3, 77);
}

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: var(--color-dark);
  color: var(--color-white);
}

.opcoes {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-auto-rows: 50px;
  gap: 20px;
  align-self: center;
  background-color: var(--color-light);
  padding: 20px;
  border-radius: 10%;
}

.opcoes button {
  border: none;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  font-weight: bold;

  background-color: var(--color-light);
  color: var(--color-blue);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

  border-radius: 50%;
}

.igual {
  grid-column: span 2;
  border-radius: 25%;
}
